:root {
	--secondary-color:  #D61B5E;
}

/*
 	== MOBILE STYLES ==
*/

.roadmap {
	display: flex;
	flex-direction: column;
}

.roadmap-screenshot {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 376px;
	margin: 16px;
	border: solid #8E7880 5px;
	border-radius: 10px;
	background-color: #655875;

}

.roadmap-screenshot span {
	text-align: center;
}

.active-item .roadmap-item-details{
	border: solid 0.5px var(--secondary-color);
	box-shadow: 0 0 10px 1px var(--secondary-color);
}

.active-item .roadmap-item-count {
	background-color: var(--secondary-color);
}

.roadmap-item {
	display: flex;
	align-items: center;
	gap:  24px;
	padding: 16px;
	cursor: pointer;
}

.roadmap-item-count {
	height: 48px;
	width: 48px;
	background: white;
	color: black;
	border-radius: 1000px;
}

.roadmap-item-count p {
	width: 48px;
	line-height: 48px;
	text-align: center;
	font-weight: 900;
}

.roadmap-item-details {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 16px;
	border-radius: 4px;
}

.roadmap-item-details h3 {
	font-weight: 700;
	font-size: 18px;
}

/*
 	== DESKTOP STYLES ==
*/
@media (min-width: 768px) { 
	.roadmap {
		flex-direction: row-reverse;
		gap: 33px;
	}

	.roadmap > * {
		flex: 1;
	}

	.roadmap-item {
		gap: 74px;
		padding: 16px 0px;
	}

	.roadmap-screenshot {
		height: auto;
	}

	.roadmap-item-count {
		font-size:  22px;
	}

	.roadmap-item-details {
		padding: 32px;
	}

	.roadmap-item-details h3 {
		font-size: 24px;
	}

	.roadmap-item-details p {
		line-height: 32px;
	}
}
