:root {
	--secondary-color:  #D61B5E;
}

.tab-switcher-section {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px 25px;
	background-color: #e7e7e7;
}
.tab-switcher-section > h2 {
	font-weight: 500;
	font-size: 34px;
}

.tab-switcher-section > p {
	font-size: 16px;
	line-height: 32px;
}


.tab-switcher {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 4px;
	padding: 40px 17px;
}


.tab-switcher__label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	padding-bottom: 20px;
}

.tab-switcher__label >  img {
	width: 9px;
	height: 5px;
}

.tab-switcher__content {
	display: flex;
	flex-direction: column;
	color: #999999;
	font-size: 12px;
	gap: 5px
}

.tab-switcher__content__title {
	font-size: 16px;
	font-style: bold;
	box-shadow: -1px 4px 2px -4px #999999;
}

.tab-switcher__content__description {
	line-height: 16px;
}

.tab-switcher__content__list {
	padding: 0 20px;
}


/*
 	== DESKTOP STYLES ==
*/
@media (min-width: 768px) {
	.tab-switcher-section {
		padding: 5%;
	}

	.tab-switcher-section > h2 {
		font-size: 48px;
	}

	.tab-switcher {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
		border-radius: 4px;
		padding: 48px 62px;
		gap: 48px;
	}

	.tab-switcher__content {
		grid-column: 1 / span 3;
		grid-row: 2;
		height: 600px;
		color: #070010;

	}

	.tab-switcher__content * {
		font-size: 20px;
		line-height: 40px;
	}

	.tab-switcher__label {
		font-size: 24px;
		color: #B0ADB3;
		place-self: center;
		cursor: pointer;
		
	}

	.tab-switcher__label > img {
		display: none;
	}

	.tab-switcher__content__title {
		font-weight: 700;
	}

	.active-tab {
		color: black;
		box-shadow: -1px 5px 2px -4px var(--secondary-color);
	}

}