{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "color-named": "never",
    "selector-list-comma-newline-after": "always-multi-line",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["composes"]
      }
    ],
    "comment-empty-line-before": null,
    "font-family-no-missing-generic-family-keyword": null,
    "comment-whitespace-inside": null
  },
  "ignoreFiles": ["**/*.js", "**/*.jsx", "**/*.json"]
}
