.faq {
  box-sizing: border-box;
  border: 1px solid #c2c0c0;
  border-radius: 4px;
  width: 632px;
  padding: 20px;
}

.faq > .head {
  display: flex;
  justify-content: space-between;
}

.head > header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.head > button {
  border: 0px;
  background: none;
}

.answer > .ans {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

@media screen and (max-width: 480px) {
  .faq {
    max-width: 350px;
    padding: 10px;
  }

  .head > header {
    font-size: 16px;
    line-height: 27px;
    max-width: 224px;
  }
  .answer > .ans {
    font-size: 14px;
  }
}
