@import "../../assets/styles/variables";
.requirements {
  display: grid;

  grid-auto-rows: minmax(456px auto);

  padding-top: 100px;

  .section-one {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .bg-getStarted {
      display: none;
    }
  }
}

@media screen and (min-width: 769px) {
  .requirements {
    display: grid;

    grid-template-columns: (664px auto);

    min-height: 900px;
    justify-content: center;
    align-content: center;
    height: 100%;
    margin: auto;
    .section-one {
      img {
        object-fit: contain;
        height: 723px;
      }
      .bg-mobile-getStarted {
        display: none;
      }
      .bg-getStarted {
        display: block;
      }
    }
    .section-two {
      flex: 1;
    }
  }
}

@media screen and (min-width: 1440px) {
  .requirements {
    display: grid;
    width: 1200px;
    grid-template-columns: 694px auto;
    justify-content: center;
    height: 100vh;

    .section-one {
      .bg-mobile-getStarted {
        display: none;
      }
      .bg-getStarted {
        display: block;
      }
    }
  }
}
