@import '../../assets/styles/variables';

/* ==================== CAROUSEL SECTION ======================= */

.carousel-container {
  position: relative;
  margin-top: -13px;
  // margin-bottom: -20px;

  width: 100%;

  .getStarted-button {
    margin-bottom: 100px;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    button {
      display: block;
      border: none;
      color: black;
      background-color: $secondaryBtnColor2;
      width: 380px;
      padding: 23px 47px;
      font-size: 16px;
      font-size: $font-family_2;
      font-weight: 500;
      img {
        padding-top: 4px;
        margin-left: 20px;
      }
    }
  }

  .card-carousel {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 240px;
    margin-top: 50px;
    align-items: center;

    .card-carousel-btn {
      background-color: #030303;
      // border-radius: 2px;
      font-weight: 300;
      font-family: $font-family_1;
      font-size: 10px;
      line-height: 15px;
      position: absolute;
      color: #bebebe;
      letter-spacing: 0.02em;
      padding: 4px 10px;
      top: 35px;
      right: 20px;
      border: 1px solid #454c53;
      display: none;
    }
    .hidden_title {
      position: absolute;
      left: 10px;
      top: 5px;

      p {
        padding-left: 25px;
        padding-top: 8px;
        color: #24292e;

        font-weight: bold;
      }
    }

    .card-title {
      position: absolute;
      background-color: black;
      width: 175px;
      height: 60px;
      left: 15px;
      z-index: 10;
      top: 32px;
      border: 1px solid #454c53;
      border-bottom: 0;
      color: #ffffff;
    }
    .card-title p {
      font-family: $font-family_1;
      font-style: normal;
      padding-top: 15px;
      text-align: left;
      padding-left: 15px;
    }
    .copy {
      border: 1px solid #454c53;
      // display: none;
      border-bottom: 0;
      margin: 70px 0 0 -5px;
      width: 295px;
      height: 160px;
      position: relative;
      z-index: 1;
    }

    .card h2,
    .card p {
      line-height: 1.5;
      margin: 0;
    }

    .card.active {
      opacity: 1;
      transform: scale(1) translateY(0);
      background: #030303;
      box-shadow: 0px 17px 10px 32px rgba(0, 0, 0, 0.2);
      width: 330px;
      // margin: auto;
      z-index: 2;
      height: 260px;
    }
    .card.active .hidden_title {
      display: none;
    }

    .card.next {
      transform: scale(1.1) translateY(-20px);
      opacity: 1;
      z-index: 1;
      width: 290px;
      background: #030303;
      border: 1px solid #aeadab;
      box-shadow: 0px 17px 10px 32px rgba(0, 0, 0, 0.2);
      display: block;
      height: 170px;

      .blank_div {
        display: none;
      }
      .copy {
        width: 250px;
      }
      .hidden_title {
        display: none;
      }
    }

    .card.prev {
      transform: scale(1.1) translateY(-50px);
      z-index: 0;
      opacity: 1;
      width: 270px;
      background: #030303;
      border: 1px solid #aeadab;
      box-shadow: 0px 17px 10px 32px rgba(0, 0, 0, 0.2);
      height: 170px;
      // visibility: visible;
      display: block;
      .blank_div {
        display: none;
      }
      .copy {
        width: 250px;
      }
      .hidden_title {
        display: none;
      }
    }

    .card-details-container {
      left: 51px;
    }

    .blank_div {
      position: absolute;
      top: 114px;
      left: 32px;

      .first_blank,
      .third_blank {
        display: flex;
        margin-bottom: 40px;
      }
      .second_blank,
      .fourth_blank {
        display: flex;
        margin-bottom: 20px;
      }

      .blank_right {
        display: flex;
        margin-left: 55px;
      }
      .blank_left {
        display: flex;
      }

      .row1,
      .row2,
      .row3,
      .row4 {
        display: flex;
        margin-bottom: 8px;
      }
      .row4 {
        margin-top: 35px;
      }
      .small_rec1 {
        width: 65px;

        height: 22px;
        margin-right: 5px;
        background: #171717;
      }
      .small_rec2 {
        width: 196px;
        top: 114px;
        height: 22px;

        background: #171717;
      }

      .desktop_blank {
        display: none;
      }

      .rec1 {
        width: 32px;

        height: 22px;

        background: #171717;
      }
      .rec2 {
        width: 387px;
        top: 114px;
        height: 22px;
        margin-left: 10px;
        background: #171717;
      }
      .rec3 {
        width: 260px;
        top: 114px;
        height: 22px;
        margin-left: 10px;
        background: #171717;
        // display: none;
      }
      .hr_mb_line {
        position: absolute;
        border: 0.5px solid #454c53;

        top: 98px;
        width: 110%;

        left: -15px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .carousel-container {
    // margin-top: 0;
    margin-bottom: -20px;
    height: 60%;
    .getStarted-button {
      display: none;
    }
    .card-carousel {
      // margin-top: -45px;
      margin-bottom: 115px;
      height: 320px;

      .card-carousel-btn {
        border-radius: 2px;
        font-weight: 400;
        font-size: 12px;

        padding: 8px 20px;
        top: 35px;
        right: 58px;
        display: block;
      }

      .card-title {
        width: 311px;
        height: 47px;
        left: 45px;

        top: 34px;
      }
      .card-title p {
        padding-top: 15px;

        padding-left: 15px;
      }
      .copy {
        margin: 60px 25px 0 25px;
        height: 250px;
        width: 859px;
      }

      .card h2,
      .card p {
        line-height: 1.5;
        margin: 0;
      }

      .card.active {
        height: 330px;
        width: 960px;
      }
      .card.active .hidden_title {
        display: none;
      }

      .card.next {
        width: 774px;

        // display: block;
        .copy {
          border: none;
        }

        .blank_div {
          display: none;
        }
      }

      .card.prev {
        width: 660px;
        // border: 1px solid #222d33;

        // display: block;
        .copy {
          border: none;
        }
        .blank_div {
          display: none;
        }
      }

      .card-details-container {
        left: 51px;
      }

      .blank_div {
        left: 92px;

        .mobile_blank {
          display: none;
        }
        .desktop_blank {
          display: block;
        }
        .hr_mb_line {
          display: none;
        }

        .hr,
        .hr2 {
          position: absolute;
          border: 0.5px solid #171717;
          left: -46px;
          top: 44px;

          width: 109%;
        }
        .hr2 {
          top: 144px;
        }
      }
    }
  }
}
/* ====================END CAROUSEL SECTION ======================= */
