:root {
	--secondary-color:  #D61B5E;
}

.tab-switcher__container {
	display: flex;
	padding: 49px 20px;
	flex-direction: column;
	background-color: white;
}

.tab-switcher__label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	padding-bottom: 20px;
}

.tab-switcher__label >  img {
	width: 9px;
	height: 5px;
}

.tab-switcher__content {
	display: flex;
	flex-direction: column;
	color: #999999;
	font-size: 12px;
	gap: 5px
}

.tab-switcher__content__title {
	font-size: 16px;
	font-style: bold;
	box-shadow: -1px 4px 2px -4px #999999;
}

.tab-switcher__content__description {
	line-height: 16px;
}

.tab-switcher__content__list {
	padding: 0 20px;
}


/*
 	== DESKTOP STYLES ==
*/
@media (min-width: 768px) {
	
}