.testimonial {
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-right: 40px;
  overflow: hidden;
 
}
.testimonial > .user {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1025px){
  .testimonial{
    height: auto;
  }
  .testimonial > .user {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .user > img {
    width: 50px;
    height: auto;
  }
}
@media screen and (max-width: 767px){
  .testimonial {
    margin: 0;
    padding: 10px;
  }
  .rec-arrow-left, .rec-arrow-right{
    display: none;
  }
}
.rec-slider-container{
  margin: 0 50px !important;
}

.user > img {
  object-fit: contain;
}

.user-details {
  margin-left: 15px;
}

.user-details > h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.user-details > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  padding: 5px;
}

.message > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  margin-top: 20px;
}

