.testimonial {
  width: 310px;
  height: 310px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 0px 20px;
}

.testimonial > .user {
  display: flex;
  flex-direction: row;
}

.user > img {
  object-fit: contain;
}

.user-details {
  margin-left: 15px;
}

.user-details > h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.user-details > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.message > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  margin-top: 20px;
}