@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap");



/* Before You Apply Section */
.before-apply {
	display: flex;
	flex-direction: column;
	gap:  20px;
	padding: 54px 20px;
	background-color: #E7E7E7;
}
.before-apply h2 {
	font-size: 34px;
	line-height: 43px;
	font-weight: 500;
}

.before-apply > p {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
}

/*
 	== DESKTOP STYLES ==
*/
@media (min-width: 768px) {
	/* ===== Hero section ===== */
	.event-badging-hero-section {
		align-items: flex-start;
		height: 478px;
		padding: 5%;
	}

	.event-badging-hero-section h1 {
		font-size: 60px;
	}

	.event-badging-hero-section p {
		font-size: 20px;
		font-weight: 600;
		line-height: 34px;
		width: 1074px;
		margin-bottom: 40px;
	}

	.button-container {
		flex-direction: row;
		gap: 12px;
	}

	/* Before You Apply Section */
	.before-apply {
		padding:  5%;
	}

	.before-apply h2 {
		font-size: 42px;
	}
	.before-apply > p {
		max-width: 1074px;
	}

}