@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap");



:root {
	--secondary-color:  #D61B5E;
}



.event-badging-hero-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:  32px;
	align-items: center;
	height: 844px;
	color:  white;
	padding:  24px;
}

.event-badging-hero-section h1 {
	font-size: 40px;
	line-height: 60px;
	font-weight: 600;
}

.event-badging-hero-section p {
	line-height: 30px;
	margin-bottom: 80px;
}


.button-container {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 70%;
} 

.button-container button {
	padding: 18px;
	border-radius: 4px;
}


.in-person-button {
	background-color: var(--secondary-color);
}

.virtual-button {
	background-color: #fff;
	color:  black;
}

/* ========== Desktop Styles ========= */
@media (min-width: 768px) {
	.event-badging-hero-section {
		align-items: flex-start;
		height: 478px;
		padding: 5%;
	}

	.event-badging-hero-section h1 {
		font-size: 60px;
	}

	.event-badging-hero-section p {
		font-size: 20px;
		font-weight: 600;
		line-height: 34px;
		width: 1074px;
	}

	.button-container {
		flex-direction: row;
		gap: 12px;
	}

	.button-container button {
		width: 192px;
	}
}